:root {
  --font: 'Spartan', sans-serif;
  --color-primary-magenta: hsl(300, 43%, 22%);
  --color-primary-pink: hsl(333, 80%, 67%);
  --color-neutral-magenta: hsl(303, 10%, 53%);
  --color-neutral-light-magenta: hsl(300, 24%, 96%);
  --color-neutral-white: hsl(0, 0%, 100%);
  --speed: 200ms;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 15px;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font);
  font-weight: 400;
  line-height: 1.8;
  background: url('../images/bg-pattern-top-mobile.svg'),
    url('../images/bg-pattern-bottom-mobile.svg');
  background-repeat: no-repeat, no-repeat;
  background-size: 374px 232px, 375px 503px;
  background-position: top left, bottom right;
  background-color: #fff;
}
img {
  display: block;
  max-width: 100%;
}
/* SOCIAL PROOF STYLES */
.social-proof {
  max-width: 25rem;
  padding-top: 5rem;
  margin: 0 0.5rem;
}
.intro,
.ratings {
  text-align: center;
}
.intro__title {
  color: var(--color-primary-magenta);
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1;
  margin: 0 4rem;
}
.intro__body {
  margin: 1.4rem 0 3rem;
}
.rating__item {
  background-color: var(--color-neutral-light-magenta);
  margin-bottom: 1.4rem;
  border-radius: 0.5rem;
  padding: 1rem 0;
}
.rating__item--stars {
  padding-bottom: 1rem;
}
.rating__item--label {
  color: var(--color-primary-magenta);
  font-size: 0.9rem;
}
.rating__item:last-child {
  margin-bottom: 3rem;
}
.card {
  background-color: var(--color-primary-magenta);
  color: var(--color-neutral-white);
  margin-bottom: 1.4rem;
  padding: 2.5rem 2rem;
  border-radius: 0.5rem;
}
.card__profile {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
}
.card__profile--name {
  font-size: 0.9rem;
  font-weight: 700;
  padding-left: 1.5rem;
}
.card__profile--photo {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}
.card__profile--status {
  display: block;
  color: var(--color-primary-pink);
  font-weight: 400;
  opacity: 0.9;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 800px) {
  body {
    background: url('../images/bg-pattern-top-desktop.svg'),
      url('../images/bg-pattern-bottom-desktop.svg');
    background-repeat: no-repeat, no-repeat;
    background-size: 584px 362px, 1085px 673px;
    background-position: top left, bottom right;
  }
  .social-proof {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      'intro ratings'
      'testemonials testemonials';
    row-gap: 6rem;
    width: 90%;
    max-width: 1100px;
  }
  .intro {
    grid-area: intro;
    text-align: left;
  }
  .intro__title {
    font-size: 3rem;
    margin-left: 0;
    width: 25rem;
  }
  .intro__body {
    width: 26rem;
    margin: 1rem 0 0 0;
  }
  .ratings {
    grid-area: ratings;
    display: flex;
    flex-direction: column;
  }
  .rating__item {
    display: flex;
    padding: 1rem 2rem;
    width: 29rem;
    margin-bottom: 1rem;
  }
  .rating__item:nth-child(2) {
    align-self: center;
  }
  .rating__item:last-child {
    align-self: flex-end;
    margin-bottom: 0;
  }
  .rating__item--stars {
    padding: 0;
  }
  .rating__item--label {
    padding-left: 2rem;
  }
  .testimonials {
    grid-area: testemonials;
    display: flex;
    align-items: flex-start;
    min-height: 18rem;
  }
  .card {
    flex-basis: calc((100%) / 3);
    margin: 0 1rem 0 0;
    transition: filter var(--speed) ease-in, transform var(--speed) ease-in;
  }
  .card:hover {
    filter: brightness(1.2) saturate(1.2);
    transform: scale(1.2);
    box-shadow: 2px 2px 5px black;
  }
  .card:first-child:hover {
    transform: scale(1.1) rotate(5deg);
  }
  .card:last-child:hover {
    transform: scale(1.1) rotate(-5deg);
  }
  .card:nth-child(2) {
    align-self: center;
  }
  .card:last-child {
    align-self: flex-end;
    margin-right: 0;
  }
  .card__testimonial {
    font-size: 0.9rem;
  }
}
/* UTILITY STYLES */
.star {
  display: inline-block;
  background: url('../images/icon-star.svg') no-repeat;
  width: 17px;
  height: 16px;
  margin-right: 0.1rem;
}

/* FRONTENDMENTOR STYLES */
.attribution {
  margin-top: 2rem;
  padding-left: 2rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
